* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Хедер */
#header-new {
  width: 100%;
  background-color:rgba(46, 32, 73, 0.47);
  height: 100px;
  position: fixed;
  top: -100px; /* Изначально скрыт за пределами экрана */
  transition: top 0.7s ease; /* Плавное движение вниз */
  z-index: 10;
}

/* Активный хедер (спускается вниз) */
#header-new.active {
  top: 0; /* Возвращаем в видимую часть экрана */
}

/* Иконка поиска */
#searchIcon {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 20;
}

/* Контейнер для инпута */
.input-container {
  display: flex;
  margin: 22px auto;
  width: 80%;
  max-width: 700px;
  gap: 5px;
}

/* Сам инпут */
.input-container input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: rgb(61, 58, 88);
  border: 1px solid rgba(158, 152, 220, 1);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

/* Кнопка */
.input-container .btn {
  padding: 15px;
  font-size: 16px;
  border: 1px solid rgba(158, 152, 220, 1);
  border-radius:5px;
  background-color: rgba(232, 208, 255, 0.901);
  color:rgb(33, 3, 46);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

/* Фон затемнения */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none; /* Изначально скрыт */
  z-index: 5;
}