a{
  color:black;
}

.link__cards{
  position:relative;
}

.link__violet-card,
.link__pink-card{
  box-sizing: border-box;
  position:absolute;
  color:black;
  font-size:18px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.link__violet-card{
  width:149px;
  height:204px;
  background-color: rgba(158, 152, 220, 1);
  right:5%;
  top:70px;
  z-index: 1;
  padding:80px 20px 36px 20px;
}

.link__pink-card{
  width:158px;
  height:273px;
  background-color: rgba(255, 143, 230, 1);
  z-index: 1;
  padding:149px 47px 36px 20px;
  right:-1%;
  top:350px;
}

.link__pink-card::after,
.link__violet-card::after{
  content:'\2192';
  padding:5px;
  display:block; /*чтобы стрелка занимала все доступное поле снизу*/
  font-size: 80px;
  position:absolute;
  bottom:-12px;
  left:13px;
  transition:transform 0.5s ease;
}

.link__pink-card:hover,
.link__violet-card:hover{
  transform: scale(1.1);
}

.link__violet-card:hover::after,
.link__pink-card:hover::after{
  transform: translateX(50%)
}

.card-text{
  transition: transform 0.5 ease;
  display: inline-block; /* Чтобы transform работал корректно */
}

.link__violet-card:hover .card-text,
.link__pink-card:hover .card-text {
    transform: translate(5px, 0); /* Сдвигаем текст вправо при наведении */
}