.main__second-section{
  display:flex;
  margin-top:50px;
}

.articles{
  width:970px;
  position:relative;
  left:-60px;
  margin-top:46px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-book{
  flex: 1 1 calc(50% - 20px);
  margin-bottom:90px;
}

.book__pic{
  display:inline-block;
  width:212px;
}

.book__portrait{
  width:212px;
  height:300px;
  background-size: cover;
  background-position: center ;
  box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.2);
}

.book__info-container{
  position:relative;
  display:inline-block;
  width:174px;
  height:203px;
}

.book__info{
  width:174px;
  margin-left:36px;
  position:absolute;
  top:35%;
  left:50%;
  transform: translate(-50%,-50%);
  white-space: normal;
}

.book__author,
.book__description{
  font-size: 10px;
  line-height: 14px;
  color:gray;
  margin:16px 0;
}

.book__description{
  display: -webkit-box; /* Используем flex-контейнер с модулем webkit */
  -webkit-box-orient: vertical; /* Ориентация блока — вертикальная */
  -webkit-line-clamp: 3; /* Ограничение в 3 строки */
  overflow: hidden; /* Скрываем текст, который не помещается */
  text-overflow: ellipsis; /* Добавляем многоточие в конце обрезанного текста */
  height: calc(1.2em * 3); /* Высота блока, равная 3 строкам */
  line-height: 1.2em; /* Высота строки */
}

.book__title{
  font-size:16px;
  line-height: 19px;
}

.book__price{
  margin:16px 0;
  font-size:13px;
  font-weight: 700;
}

.add-to-bag,
.btn__load{
  margin-bottom: 48px;
  cursor:pointer;
  width:176px;
  height:45px;
  vertical-align: middle;
  font-size:8px;
  text-transform: uppercase;
  color:rgba(76, 61, 178, 1);
  background-color: white;
  border: 0.1rem solid rgba(76, 61, 178, 1);
  outline: none;
  box-shadow: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.add-to-bag:hover{
  color:white;
  background-color: rgba(185, 174, 252, 0.64);
  border: 1px solid rgba(238, 237, 245, 1);
}

.add-to-bag:active{
  color:rgba(76, 61, 178, 1);
  background-color: white;
  opacity:0.5;
}

.add-to-bag-active{
  border: 1px solid rgba(238, 237, 245, 1);
}

.result-wrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:relative;
  left:7%;
}