$slider-dots-default-color:rgba(239, 238, 246, 1);
$slider-dots-active-color:rgba(158, 152, 220, 1);

$genre-active-dots-color:rgb(117, 106, 211);

$btns-background-color:white;
$btns-color:rgba(76, 61, 178, 1);
$btns-border-color:1px solid rgba(76, 61, 178, 1);
$btns-color-active:white;
$btns-background-color-active:rgba(185, 174, 252, 0.64);
$btns-border-color-active:1px solid rgba(238, 237, 245, 1);

$books-shadow:0px 20px 20px -10px rgba(0, 0, 0, 0.2);